{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "debug": false,
      "corejs": 3,
      "modules": false,
      "targets": {
        "chrome": "68",
        "ie": "11"
      }
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
