.DS_Store
/node_modules/
/coverage/
/dist/
yarn.lock
/frontend/node_modules/
/frontend/coverage/
/frontend/lib/
/frontend/dist/
/backup/
/wp-admin/
/wp-includes/
/wp-content/languages/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/plugins/*
!/wp-content/plugins/wp-rest-api-controller/
/wp-content/themes/twentyseventeen/
/wp-content/themes/*/bundle.js
/wp-content/themes/*/bundle.js.map
/wp-content/themes/*/styles/
/wp-content/themes/*/vendors/
/wp-content/themes/*/favicons/
/wp-content/themes/index.php
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/index.php
/favicons/
/_materiale/
/*.php
/*.html
/*.txt
/*.lock
!/readme.txt
.DS_Store
*.DS_Store
build
